[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
cov = "python -m pytest --cov=. tests/"
cli = "textual run --dev cli.py"
console = "textual run console"
test = "python -m pytest --pdb --pdbcls=IPython.terminal.debugger:TerminalPdb"

[packages]
textual = "*"
grep-ast = "*"
textual-dev = "*"
sqlite-utils = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
ipython = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.13"
