[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
cov = "python -m pytest --cov=. tests/"
cli = "textual run --dev cli.py"
console = "textual run console"
test = "python -m pytest --ff --pdb --pdbcls=IPython.terminal.debugger:TerminalPdb"
fail = "python -m pytest --ff -x"

[packages]
sqlite-utils = "*"
grep-ast = "*"
textual = {extras = ["syntax"], version = "*"}
tree-sitter = "<0.25.0"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
textual-dev = "*"

[requires]
python_version = "3.13"
