#inputfooter {
    height: 6;
    dock: bottom;
}

.h-full {
    height: 100%;
}
.h-11div12 {
    height: 91.666667%;
}
.h-1div12 {
    height: 8.333333%;
}
.h-half {
    height: 50%;
}
.h-full {
    height: 100%;
}
.h-auto {
    height: auto;
}
.bg-green {
    background: #48bb78;
}